<!DOCTYPE html>
<html>
  <head>
    <title>RoRlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag '/assets/css/materialize.min.css', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% content_for :title %>
  </head>

  <body>
    <noscript>
      I am not working...
    </noscript>
    <nav>
    <div class="nav-wrapper purple">
      <a href="/" class="brand-logo" style="padding-left: 12px">Blog</a>
      <a href="#!" data-target="mobile-demo" class="right sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#!"><i class="material-icons left">login</i>Login</a></li>
        <li><a href="#!"><i class="material-icons right">person_add</i>Sign Up</a></li>
        <li><a href="?abc=abc"><i class="material-icons">logout</i></a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="#!"><i class="material-icons left">search</i>Login</a></li>
    <li><a href="#!"><i class="material-icons right">view_module</i>Sign Up</a></li>
    <li><a href="collapsible">Javascript</a></li>
    <li><a href="mobile">Mobile</a></li>
  </ul>

    <main>
      <div class="container">
        <div class="row">
          <div class="col">
            <% if notice %>
              <p class="text-red"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="text-red"><%= alert %></p>
            <% end %>
          </div>
        </div>
        <%= yield %>  
      </div>
    </main>
    
    <footer>
      footer
    </footer>
  </body>
  <%= javascript_include_tag '/assets/js/materialize.min.js' %>
  <%= javascript_include_tag '/assets/application' %>
</html>
